<ion-view title="Breath of the Wild" id="page3">
  <ion-content padding="true" class="has-header">
    <h5 id="breathOfTheWild-heading6" style="color:#000000;font-weight:600;">The Legend of Zelda: Breath of the Wild - Official Game Trailer - Nintendo E3 2016</h5>
    <div ng-init="videourl_video2=&quot;https://www.youtube.com/embed/1rPxiXXxftE?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="breathOfTheWild-video2">
      <iframe src="{{videourl_video2}}" allowfullscreen="" style="position:absolute;top:0;left:0;width:100%;height:100%;" width="560" height="315" frameborder="0"></iframe>
    </div>
    <ion-list id="breathOfTheWild-list6">
      <ion-item class="item-avatar" id="breathOfTheWild-list-item9">
        <img src="img/AGF-l7-zjK2U52qOcbhpxcStizRIUObE9BZhv1hQxQs88-mo-c-c0xffffffff-rj-k-no">
        <h2>Nintendo </h2>
        <p>Published on Jun 14, 2016</p>
      </ion-item>
    </ion-list>
    <div id="breathOfTheWild-markdown12" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">The Legend of Zelda: Breath of the Wild - Official Game Trailer - Nintendo E3 2016</p>
    </div>
    <div id="breathOfTheWild-button-bar3" class="button-bar">
      <a ui-sref="tHELEGENDOFZELDA()" id="breathOfTheWild-button16" class="button button-dark button-block button-outline">&lt;&lt;</a>
      <a ui-sref="tHELEGENDOFZELDA()" id="breathOfTheWild-button17" style="font-weight:500;" class="button button-dark button-block button-outline icon ion-android-home"></a>
      <a ui-sref="tipsTrick()" id="breathOfTheWild-button18" class="button button-dark button-block button-outline">&gt;&gt;</a>
    </div>
  </ion-content>
</ion-view>