<ion-view title="" id="page5">
  <ion-content padding="true" class="manual-remove-top-padding has-header" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="page5-slider2" style="width:calc(100% + 20px);height:100%;margin-left:-10px;">
      <ion-slide-page id="page5-slide211" style="background:url(&quot;img/238qbHVLQRWnqrfzYhyG_mobile-1.jpg&quot;) no-repeat center;background-size:cover;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;"></div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="page5-slide212" style="background:url(&quot;img/VDcGdKjUQGmaSUQBR44v_pngfind.com-link-breath-of-the-2287227.png&quot;) no-repeat center;background-size:cover;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;"></div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="page5-slide213" style="background:url(&quot;img/6A2d5JKTGqmi7ljUUPNg_kisspng-the-legend-of-zelda-breath-of-the-wild-princess-z-the-legend-of-zelda-5ac8d12b562554.4189343115231101873529.png&quot;) no-repeat center;background-size:cover;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;"></div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>