<ion-view title="Tips &amp; Trick" id="page2">
  <ion-content padding="true" class="has-header">
    <h4 id="tipsTrick-heading5" style="color:#128F25;">How To Fight Lynels </h4>
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/5UJHiZW8RKY?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="tipsTrick-video1">
      <iframe src="{{videourl_video1}}" allowfullscreen="" style="position:absolute;top:0;left:0;width:100%;height:100%;" width="560" height="315" frameborder="0"></iframe>
    </div>
    <ion-list id="tipsTrick-list4">
      <ion-item class="item-avatar" id="tipsTrick-list-item8">
        <img src="img/AGF-l7_9qSdJiz9DN4LrfrsErtr31Jrvq6I5LyquSgs88-mo-c-c0xffffffff-rj-k-no">
        <h2>IGN</h2>
        <p> Published on Mar 19, 2017</p>
      </ion-item>
      <div class="item item-body" id="tipsTrick-list-item-container1">
        <div id="tipsTrick-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Here are some tips on how to take down one of the hardest enemies in Zelda: Breath of the Wild! Learn more Breath of the Wild tips here!</p>
        </div>
      </div>
    </ion-list>
    <div id="tipsTrick-button-bar2" class="button-bar">
      <a ui-sref="breathOfTheWild()" id="tipsTrick-button13" class="button button-dark button-block button-outline">&lt;&lt;</a>
      <a ui-sref="tHELEGENDOFZELDA()" id="tipsTrick-button14" style="font-weight:500;" class="button button-dark button-block button-outline icon ion-android-home"></a>
      <a ui-sref="tHELEGENDOFZELDA()" id="tipsTrick-button15" class="button button-dark button-block button-outline">&gt;&gt;</a>
    </div>
  </ion-content>
</ion-view>